@import "tailwindcss";

@font-face {
  font-family: Ubuntu;
  src: url("/fonts/Ubuntu-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Ubuntu;
  src: url("/fonts/Ubuntu-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@layer base {
  :root {
    @apply font-sans leading-[1.5] font-normal scheme-light-dark text-white/[0.87] bg-[#242424];
    
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  a {
    
    text-decoration: inherit;
  }
  
  body {

    user-select: none;
  }
  
  button {
    

    font-family: inherit;
  }

  
  @media (prefers-color-scheme: light) {
    
  }
}

@theme {
  --font-sans: Ubuntu, system-ui, Avenir, Helvetica, Arial, sans-serif;

}
